#empleados-buscar-container,
#empleados-crear-container {
    margin-top: 50px;
}
#empleados-container{
    margin-top: 100px;
}

.react-bs-table-sizePerpage-dropdown .dropdown-toggle{
    float: left;
    margin-bottom: 20px;
}

.search-Label {
    float: right;
    padding-bottom: 10px;
}
.sr-only {
    font-size: 0;
}